@tailwind base;
@tailwind components;
@tailwind utilities;


/* Tabs Start */

.tabs {
    width: 500px;
    background-color: white;
    margin: 0 auto;

}

.tabs-head {
    display: flex;
    height: 40px;
}

.tabs-toggler {
    width: calc(100%/3);
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;

}

.tabs-toggler:hover,
.tabs-toggler.active:hover {
    cursor: pointer;

}

.tabs-toggler.active {
    background-color: white;
}

.tabs-content {


    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.tabs-content.active {
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
    opacity: 1;
    visibility: visible;
    height: auto;
}

@media only screen and (max-width: 992px) {

    .tabs {
        width: 370px;
        background-color: white;
        margin: 0 auto;

    }

}

/* Tabs End */